# Python
backend/venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Flask
instance/
*.db

# Node (Vue)
frontend/node_modules/
frontend/dist/
frontend/.env

# VSCode
.vscode/

# System
Thumbs.db
.DS_Store
*.log

# Windows
ehthumbs.db
Icon?
desktop.ini
